<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}">

<head>
    <title>Appointments - Petclinic</title>
</head>

<body>

    <section layout:fragment="page-content">
        <div class="container">
            <p>
            <h1><i class="bi bi-calendar4-event"></i> Select appointment</h1>
            </p>

            <p>
            <form class="row g-3">
                <div class="col-md-2">
                    <label for="VetId" class="form-label">Veterinary</label>
                    <select name="VetId" id="VetId" class="form-select">
                        <option value="0">Any</option>
                        <option th:each="v : ${vets}" 
                            th:text="|Dr ${v.FirstName} ${v.LastName}|" 
                            th:value="${v.Id}"
                            th:selected="${VetId == v.Id}"></option>
                    </select>
                </div>
                <div class="col-md-2">
                    <label for="From" class="form-label">From (Date)</label>
                    <input type="text" class="form-control datepicker" id="From"
                        th:value="*{#temporals.format(Day, 'MM/dd/yyyy')}" name="Day">
                </div>
                <div class="col-md-2">
                    <label for="hMin" class="form-label">Min Hour</label>
                    <select name="hMin" id="hMin" class="form-select">
                        <option th:each="h : ${hours}" 
                                th:value="${h}" 
                                th:text="${h}"
                                th:selected="${hMin == h}"></option>
                    </select>
                </div>
                <div class="col-md-2">
                    <label for="hMin" class="form-label">Max Hour</label>
                    <select name="hMax" id="hMax" class="form-select">
                        <option value="19:00">19:00</option>
                        <option th:each="h : ${hours}" 
                                th:value="${h}" 
                                th:text="${h}"
                                th:selected="${hMax == h}"></option>
                    </select>
                </div>
                <div class="col-12">
                    <th:block th:each="d : ${dayNames}">
                    <input class="form-check-input" type="checkbox" 
                        th:id="${d.name}" name="dow[]" 
                        th:value="${d.value}" 
                        th:checked="${#arrays.contains(dow, d.value)}">
                    <label class="form-check-label" th:for="${d.name}">
                        [[${d}]]
                    </label>
                    </th:block>
                </div>
                <div class="col-auto">
                  <button type="submit" class="btn btn-primary">
                      <i class="bi bi-search"></i>
                      Search
                  </button>
                </div>
            </form>
            </p>

            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Day</th>
                        <th>Date</th>
                        <th>Hour</th>
                        <th>Veterinary</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="avail : ${availabilities}">
                        <td>[[${#temporals.dayOfWeekName(avail.app)}]]</td>
                        <td>[[${#temporals.monthName(avail.app)}]] the [[${#temporals.day(avail.app)}]]th, [[${#temporals.year(avail.app)}]]</td>
                        <td>[[${#numbers.formatInteger(#temporals.hour(avail.app),2)}]]:[[${#numbers.formatInteger(#temporals.minute(avail.app), 2)}]]</td>
                        <td th:text="|Dr ${avail.FirstName} ${avail.LastName}|"></td>
                        <td>
                            <form th:action="@{/appointment/select}" method="post">
                                <input type="hidden" name="VetId" th:value="${avail.VetId}">
                                <input type="hidden" name="App" th:value="${avail.app}">
                                <button class="btn btn-success btn-sm"><i class="bi bi-check2"></i> Select</button>
                            </form>
                        </td>
                    </tr>
                    <tr th:unless="${not #lists.isEmpty(availabilities)}">
                        <td colspan="4">No availabilities found in the next 12 months</td>
                    </tr>
                </tbody>
            </table>

            <nav>
                <ul class="pagination">
                    <li th:each="page : ${pages}" class="page-item" th:classappend="${page.htmlClass}">
                        <a th:href="${page.url}" class="page-link">
                            [[${page.displayName}]]
                        </a>
                    </li>
                </ul>
            </nav>

        </div>

    </section>

</body>


<th:block layout:fragment="page-scripts">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" integrity="sha512-mSYUmp1HYZDFaVKK//63EcZq4iFWFjxSL+Z3T/aCt4IO9Cejm03q3NKKYN6pFQzY0SBOr8h+eCIAZHPXcpZaNw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<script>
$('.datepicker').datepicker();
</script>
</th:block>

</html>